@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    background: #090831;
}


fieldset{
    margin-bottom:2%;
}

legend, .legend {
    text-align: center;
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-weight: bold;
}

textarea {
    height: 80px;
    resize: none;
}

.LoadingIcon {
    display: none;
    width: 47px;
}

.AlseinTable {
    width: 100%;
    border-collapse: separate;
    border-spacing: 3px;
}

    .AlseinTable td:nth-child(3n+1) {
        color: #f00;
        width: 12px;
        text-align: center;
    }

    .AlseinTable td:nth-child(3n+2) {
        padding: 3px;
        border: 1px solid black;
        color: #ffffff;
        border-radius: 5px;
        width: 150px;
        text-align: center;
        font-weight: bold;
        background: #0C85BC;
    }







footer {
    background: #090831;
    color: #fafafa;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    footer .content {
        width: 100%;
        max-width: 1100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer .logo-wrapper {
        text-align: center;
        margin-bottom: 20px;
    }

    footer .footer-logo {
        max-height: 70px;
        object-fit: contain;
    }

    
    footer .footer-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 20px;
    }

    footer .address {
        text-align: left;
        font-size: 18px;
        line-height: 1.5;
    }


    footer .cards {
        display: flex;
        gap: 20px; 
    }

        footer .cards .card-logo {
            height: 35px; 
            object-fit: contain;
            margin: 0;
            padding: 0;
            display: block;
        }









  

    footer .copyright {
        text-align: center;
        padding-top: 15px;
        margin-top: 10px;
        width: 100%;
        border-top: 1px solid #555;
        font-size: 13px;
    }

@media screen and (max-width: 768px) {
    footer .footer-bottom {
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }

    footer .address {
        text-align: center;
    }

   
}
