<?xml version="1.0" encoding="utf-8"?>

<!-- web.config dönüþümünün kullanýmý hakkýnda daha fazla bilgi için https://go.microsoft.com/fwlink/?LinkId=125889 adresini ziyaret edin. -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    Aþaðýdaki örnekte "SetAttributes" dönüþtürmesi, 
yalnýzca "Eþleþtirme" bulucusu 
    "MyDB" deðerine sahip bir öznitelik "adý" bulduðunda "ReleaseSQLServer"ýn kullanýlmasýna izin verecek þekilde "connectionString"in deðerini deðiþtirir.
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="Norosirurjihemsireligi2026_Web" connectionString="Provider=Microsoft.JET.OLEDB.4.0;Data Source=|DataDirectory|\Norosirurjihemsireligi2026.mdb;Persist Security Info=True" providerName="System.Data.OleDb" xdt:Locator="Match(name)" xdt:Transform="Replace"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      
      Aþaðýdaki örnekte, "Replace" dönüþümü web.config dosyanýzýn 
      <customErrors> bölümünün tamamýný deðiþtirir.
      <system.web> düðümü altýnda yalnýzca bir customErrors bölümü olduðundan, 
      "xdt:Locator" özniteliðini kullanmak gerekmediðine dikkat edin.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.webServer>
    <rewrite xdt:Transform="Insert">
      <rules>
        <rule name="SSL Rule">
          <match url="^(.*)$" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTPS}" pattern="^on$" ignoreCase="false" negate="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{URL}" redirectType="Found" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>